<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LinusForumTipsDesktop.Settings.Preference" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LinusForumTipsDesktop.Settings.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <LinusForumTipsDesktop.Settings.Preference>
            <setting name="DarkTheme" serializeAs="String">
                <value>False</value>
            </setting>
        </LinusForumTipsDesktop.Settings.Preference>
        <LinusForumTipsDesktop.Settings.AppSettings>
            <setting name="Version" serializeAs="String">
                <value>0.1.0 Alpha</value>
            </setting>
            <setting name="BuildDate" serializeAs="String">
                <value>9th March 2017</value>
            </setting>
            <setting name="ViewLicense" serializeAs="String">
                <value>False</value>
            </setting>
        </LinusForumTipsDesktop.Settings.AppSettings>
    </userSettings>
</configuration>